# HTTPS
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# Redirect to www
RewriteCond %{HTTP_HOST} ^formatofms.com$
RewriteRule (.*) https://www.formatofms.com/$1 [R=301,L]
</IfModule>
